<md-toolbar class="search md-hue-2">
    <div class="container">
      <md-input-container flex="100" class="md-icon-float md-block">
          <label>Rechercher un animal</label>
          <md-icon md-svg-src="images/icons/search.svg"></md-icon>
          <input ng-model="query" type="text">
      </md-input-container>
    </div>
</md-toolbar>

<section class="list container">
    <md-content layout="row" layout-xs="column" layout-wrap>
        <div flex="25" flex-xs="100" ng-repeat="item in pets | filter:query">
            <md-card class="{{item.status}}">
                <div layout="column" layout-xs="row" layout-padding>
                    <div class="img-card" flex-xs="45">
                        <img ng-src="images/{{item.photoUrls}}" alt="Photo of {{item.name}}" />
                    </div>
                    <div layout="column" flex-xs="55" layout-align="start">
                        <span class="md-headline">{{item.name}}</span>
                        <span>{{item.gender}}</span>
                        <span class="md-subhead">{{item.birth_date | date:'dd/MM/yyyy'}}</span>
                    </div>
                </div>

                <md-card-actions layout="row" layout-align="end center">
                    <a href="#/details/{{pets.indexOf(item)}}"><md-button>Voir</md-button></a>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</section>
